.element__like {
  min-width: 22px;
  min-height: 19px;
  background-color: white;
  background-image: url("./../../../images/heart.svg");
  background-repeat: no-repeat;
  cursor: pointer;
  border: none;
  opacity: 1;
  transition: 0.5s linear;
}

.element__like:hover {
  opacity: 0.5;
}
