.popup__button {
  border-radius: 2px;
  width: 100%;
  min-height: 46px;
  margin-top: 48px;
  font-family: Inter;
  font-style: normal;
  font-weight: normal;
  font-size: 18px;
  line-height: 1.2;
  text-align: center;
  box-sizing: border-box;
}

.popup__button:hover{
  opacity: 0.8;
}

@media screen and (max-width:500px){
  .popup__button{
    font-size: 14px;
    margin-top: 45px;
  }
}
